PORT=4000
# MongoDB Atlas: mongodb+srv://USUARIO:CONTRASEÑA@CLUSTER.mongodb.net/drivercontrol?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/drivercontrol
JWT_SECRET=cambia_esta_clave_por_una_larga_y_segura
JWT_EXPIRE=30d

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=tu_usuario_smtp
EMAIL_PASS=tu_password_smtp

FRONTEND_URL=http://localhost:5173
